{% extends 'index.html' %}



{% block title %}
Resultado busqueda Cliente
{% endblock %}


{% block inicio %}


{% for linea in lineas %}
      Tu ex compañia es: {{ linea.Ex_compañia }} y tu numero de celular es: {{ linea.Numero_celular }}. <br>
{% endfor %}

{% for cliente in clientes %}
      Cliente: {{ cliente.Nombre_cliente }}, Email cliente: {{ cliente.Email_cliente }}, Dni: {{ cliente.Dni_cliente }}. <br>
{% endfor %}

{% for empleado in empleados %}
      Nombre de empleado que atendio a este cliente: {{ empleado.Nombre_empleado }}, Dni del empleado: {{ empleado.Dni_empleado }}. <br> <br>
{% endfor %}

{% endblock %}